<h1>Your Cart</h1>

<% if notice %>
  <div class="alert alert-success">
    <strong><%= notice %></strong>
  </div>
<% end %>

<% if current_user.has_current_cart %>
  <% current_user.current_cart.line_items.each do |line_item| %>
    <h3>
      <%= link_to line_item.item.title, item_path(line_item.item) %> | <%= to_currency(line_item.total) %> | Quantity: <%= line_item.quantity %>
      <% if line_item.item.inventory < 10 %>
        <strong>| There are only <%= line_item.item.inventory %> left in stock.</strong>
      <% end %>
    </h3>
  <% end %>

  <h4>Order total: <strong><%= number_to_currency(current_user.current_cart.total) %></strong> </h4>

  <%= button_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
  

<% else %>
    <p>Your cart is currently empty</p>
    <%= link_to 'Buy Products', store_path, class: 'btn btn-primary' %>    
<% end %>
